<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CqFyContractInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.po.CqFyContractInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="contract_id" jdbcType="INTEGER" property="contractId" />
    <result column="call_in_unit_name" jdbcType="NVARCHAR" property="callInUnitName" />
    <result column="call_in_unit_id" jdbcType="INTEGER" property="callInUnitId" />
    <result column="fy_id" jdbcType="INTEGER" property="fyId" />
    <result column="house_type" jdbcType="INTEGER" property="houseType" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="all_money" jdbcType="DECIMAL" property="allMoney" />
    <result column="overhaul_price" jdbcType="DECIMAL" property="overhaulPrice" />
    <result column="overhaul_all_money" jdbcType="DECIMAL" property="overhaulAllMoney" />
    <result column="service_price" jdbcType="DECIMAL" property="servicePrice" />
    <result column="service_all_price" jdbcType="DECIMAL" property="serviceAllPrice" />
    <result column="property_fee" jdbcType="DECIMAL" property="propertyFee" />
    <result column="property_fee_time" jdbcType="TIMESTAMP" property="propertyFeeTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="completion_time" jdbcType="TIMESTAMP" property="completionTime" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="address" jdbcType="NVARCHAR" property="address" />
    <result column="address_id" jdbcType="NVARCHAR" property="addressId" />
    <result column="traffic_supporting" jdbcType="NVARCHAR" property="trafficSupporting" />
    <result column="school_supporting" jdbcType="NVARCHAR" property="schoolSupporting" />
    <result column="living_supporting" jdbcType="NVARCHAR" property="livingSupporting" />
    <result column="medical_support" jdbcType="NVARCHAR" property="medicalSupport" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="wy_price" jdbcType="DECIMAL" property="wyPrice" />
    <result column="phone" jdbcType="NVARCHAR" property="phone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, contract_id, call_in_unit_name, call_in_unit_id, fy_id, house_type, num, area, 
    price, all_money, overhaul_price, overhaul_all_money, service_price, service_all_price, 
    property_fee, property_fee_time, delivery_time, completion_time, deleted, address, 
    address_id, traffic_supporting, school_supporting, living_supporting, medical_support, 
    count, wy_price, phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cq_fy_contract_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cq_fy_contract_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.CqFyContractInfo">
    insert into cq_fy_contract_info (id, contract_id, call_in_unit_name, 
      call_in_unit_id, fy_id, house_type, 
      num, area, price, all_money, 
      overhaul_price, overhaul_all_money, service_price, 
      service_all_price, property_fee, property_fee_time, 
      delivery_time, completion_time, deleted, 
      address, address_id, traffic_supporting, 
      school_supporting, living_supporting, medical_support, 
      count, wy_price, phone
      )
    values (#{id,jdbcType=INTEGER}, #{contractId,jdbcType=INTEGER}, #{callInUnitName,jdbcType=NVARCHAR}, 
      #{callInUnitId,jdbcType=INTEGER}, #{fyId,jdbcType=INTEGER}, #{houseType,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{area,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{allMoney,jdbcType=DECIMAL}, 
      #{overhaulPrice,jdbcType=DECIMAL}, #{overhaulAllMoney,jdbcType=DECIMAL}, #{servicePrice,jdbcType=DECIMAL}, 
      #{serviceAllPrice,jdbcType=DECIMAL}, #{propertyFee,jdbcType=DECIMAL}, #{propertyFeeTime,jdbcType=TIMESTAMP}, 
      #{deliveryTime,jdbcType=TIMESTAMP}, #{completionTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER}, 
      #{address,jdbcType=NVARCHAR}, #{addressId,jdbcType=NVARCHAR}, #{trafficSupporting,jdbcType=NVARCHAR}, 
      #{schoolSupporting,jdbcType=NVARCHAR}, #{livingSupporting,jdbcType=NVARCHAR}, #{medicalSupport,jdbcType=NVARCHAR}, 
      #{count,jdbcType=INTEGER}, #{wyPrice,jdbcType=DECIMAL}, #{phone,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.CqFyContractInfo">
    insert into cq_fy_contract_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="callInUnitName != null">
        call_in_unit_name,
      </if>
      <if test="callInUnitId != null">
        call_in_unit_id,
      </if>
      <if test="fyId != null">
        fy_id,
      </if>
      <if test="houseType != null">
        house_type,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="allMoney != null">
        all_money,
      </if>
      <if test="overhaulPrice != null">
        overhaul_price,
      </if>
      <if test="overhaulAllMoney != null">
        overhaul_all_money,
      </if>
      <if test="servicePrice != null">
        service_price,
      </if>
      <if test="serviceAllPrice != null">
        service_all_price,
      </if>
      <if test="propertyFee != null">
        property_fee,
      </if>
      <if test="propertyFeeTime != null">
        property_fee_time,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="completionTime != null">
        completion_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="trafficSupporting != null">
        traffic_supporting,
      </if>
      <if test="schoolSupporting != null">
        school_supporting,
      </if>
      <if test="livingSupporting != null">
        living_supporting,
      </if>
      <if test="medicalSupport != null">
        medical_support,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="wyPrice != null">
        wy_price,
      </if>
      <if test="phone != null">
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="callInUnitName != null">
        #{callInUnitName,jdbcType=NVARCHAR},
      </if>
      <if test="callInUnitId != null">
        #{callInUnitId,jdbcType=INTEGER},
      </if>
      <if test="fyId != null">
        #{fyId,jdbcType=INTEGER},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="allMoney != null">
        #{allMoney,jdbcType=DECIMAL},
      </if>
      <if test="overhaulPrice != null">
        #{overhaulPrice,jdbcType=DECIMAL},
      </if>
      <if test="overhaulAllMoney != null">
        #{overhaulAllMoney,jdbcType=DECIMAL},
      </if>
      <if test="servicePrice != null">
        #{servicePrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceAllPrice != null">
        #{serviceAllPrice,jdbcType=DECIMAL},
      </if>
      <if test="propertyFee != null">
        #{propertyFee,jdbcType=DECIMAL},
      </if>
      <if test="propertyFeeTime != null">
        #{propertyFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completionTime != null">
        #{completionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=NVARCHAR},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=NVARCHAR},
      </if>
      <if test="trafficSupporting != null">
        #{trafficSupporting,jdbcType=NVARCHAR},
      </if>
      <if test="schoolSupporting != null">
        #{schoolSupporting,jdbcType=NVARCHAR},
      </if>
      <if test="livingSupporting != null">
        #{livingSupporting,jdbcType=NVARCHAR},
      </if>
      <if test="medicalSupport != null">
        #{medicalSupport,jdbcType=NVARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="wyPrice != null">
        #{wyPrice,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.CqFyContractInfo">
    update cq_fy_contract_info
    <set>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="callInUnitName != null">
        call_in_unit_name = #{callInUnitName,jdbcType=NVARCHAR},
      </if>
      <if test="callInUnitId != null">
        call_in_unit_id = #{callInUnitId,jdbcType=INTEGER},
      </if>
      <if test="fyId != null">
        fy_id = #{fyId,jdbcType=INTEGER},
      </if>
      <if test="houseType != null">
        house_type = #{houseType,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="allMoney != null">
        all_money = #{allMoney,jdbcType=DECIMAL},
      </if>
      <if test="overhaulPrice != null">
        overhaul_price = #{overhaulPrice,jdbcType=DECIMAL},
      </if>
      <if test="overhaulAllMoney != null">
        overhaul_all_money = #{overhaulAllMoney,jdbcType=DECIMAL},
      </if>
      <if test="servicePrice != null">
        service_price = #{servicePrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceAllPrice != null">
        service_all_price = #{serviceAllPrice,jdbcType=DECIMAL},
      </if>
      <if test="propertyFee != null">
        property_fee = #{propertyFee,jdbcType=DECIMAL},
      </if>
      <if test="propertyFeeTime != null">
        property_fee_time = #{propertyFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryTime != null">
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completionTime != null">
        completion_time = #{completionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=NVARCHAR},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=NVARCHAR},
      </if>
      <if test="trafficSupporting != null">
        traffic_supporting = #{trafficSupporting,jdbcType=NVARCHAR},
      </if>
      <if test="schoolSupporting != null">
        school_supporting = #{schoolSupporting,jdbcType=NVARCHAR},
      </if>
      <if test="livingSupporting != null">
        living_supporting = #{livingSupporting,jdbcType=NVARCHAR},
      </if>
      <if test="medicalSupport != null">
        medical_support = #{medicalSupport,jdbcType=NVARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="wyPrice != null">
        wy_price = #{wyPrice,jdbcType=DECIMAL},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.CqFyContractInfo">
    update cq_fy_contract_info
    set contract_id = #{contractId,jdbcType=INTEGER},
      call_in_unit_name = #{callInUnitName,jdbcType=NVARCHAR},
      call_in_unit_id = #{callInUnitId,jdbcType=INTEGER},
      fy_id = #{fyId,jdbcType=INTEGER},
      house_type = #{houseType,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      area = #{area,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      all_money = #{allMoney,jdbcType=DECIMAL},
      overhaul_price = #{overhaulPrice,jdbcType=DECIMAL},
      overhaul_all_money = #{overhaulAllMoney,jdbcType=DECIMAL},
      service_price = #{servicePrice,jdbcType=DECIMAL},
      service_all_price = #{serviceAllPrice,jdbcType=DECIMAL},
      property_fee = #{propertyFee,jdbcType=DECIMAL},
      property_fee_time = #{propertyFeeTime,jdbcType=TIMESTAMP},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      completion_time = #{completionTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=INTEGER},
      address = #{address,jdbcType=NVARCHAR},
      address_id = #{addressId,jdbcType=NVARCHAR},
      traffic_supporting = #{trafficSupporting,jdbcType=NVARCHAR},
      school_supporting = #{schoolSupporting,jdbcType=NVARCHAR},
      living_supporting = #{livingSupporting,jdbcType=NVARCHAR},
      medical_support = #{medicalSupport,jdbcType=NVARCHAR},
      count = #{count,jdbcType=INTEGER},
      wy_price = #{wyPrice,jdbcType=DECIMAL},
      phone = #{phone,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>