<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CqLc0Mapper">
  <resultMap id="BaseResultMap" type="com.example.demo.po.CqLc0">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mc" jdbcType="NVARCHAR" property="mc" />
    <result column="bh" jdbcType="INTEGER" property="bh" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="cw" jdbcType="INTEGER" property="cw" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mc, bh, sort, cw
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cq_lc0
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cq_lc0
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.CqLc0">
    insert into cq_lc0 (id, mc, bh, 
      sort, cw)
    values (#{id,jdbcType=INTEGER}, #{mc,jdbcType=NVARCHAR}, #{bh,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{cw,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.CqLc0">
    insert into cq_lc0
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mc != null">
        mc,
      </if>
      <if test="bh != null">
        bh,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="cw != null">
        cw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mc != null">
        #{mc,jdbcType=NVARCHAR},
      </if>
      <if test="bh != null">
        #{bh,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="cw != null">
        #{cw,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.CqLc0">
    update cq_lc0
    <set>
      <if test="mc != null">
        mc = #{mc,jdbcType=NVARCHAR},
      </if>
      <if test="bh != null">
        bh = #{bh,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="cw != null">
        cw = #{cw,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.CqLc0">
    update cq_lc0
    set mc = #{mc,jdbcType=NVARCHAR},
      bh = #{bh,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      cw = #{cw,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>