<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CqSqFyBasicMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.po.CqSqFyBasic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="work_bh" jdbcType="NVARCHAR" property="workBh" />
    <result column="apply_id" jdbcType="INTEGER" property="applyId" />
    <result column="use_bm_id" jdbcType="INTEGER" property="useBmId" />
    <result column="use_dw_id" jdbcType="INTEGER" property="useDwId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="applyer_id" jdbcType="INTEGER" property="applyerId" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="apply_reason" jdbcType="NVARCHAR" property="applyReason" />
    <result column="work_id" jdbcType="INTEGER" property="workId" />
    <result column="work_date" jdbcType="TIMESTAMP" property="workDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sq_id" jdbcType="INTEGER" property="sqId" />
    <result column="type_cxbh" jdbcType="INTEGER" property="typeCxbh" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="type2_is_export_mx" jdbcType="INTEGER" property="type2IsExportMx" />
    <result column="azfyk_is_export" jdbcType="INTEGER" property="azfykIsExport" />
    <result column="bm_name" jdbcType="NVARCHAR" property="bmName" />
    <result column="type4_ok" jdbcType="INTEGER" property="type4Ok" />
    <result column="planning_gap" jdbcType="INTEGER" property="planningGap" />
    <result column="tick_status" jdbcType="INTEGER" property="tickStatus" />
    <result column="tick_time" jdbcType="TIMESTAMP" property="tickTime" />
    <result column="demand_dw_id" jdbcType="INTEGER" property="demandDwId" />
    <result column="dj_bm_id" jdbcType="INTEGER" property="djBmId" />
    <result column="qz_yj_zl" jdbcType="NCHAR" property="qzYjZl" />
    <result column="pass_time" jdbcType="TIMESTAMP" property="passTime" />
    <result column="yc_day" jdbcType="INTEGER" property="ycDay" />
  </resultMap>
  <sql id="Base_Column_List">
    id, work_bh, apply_id, use_bm_id, use_dw_id, num, area, money, applyer_id, apply_date, 
    apply_reason, work_id, work_date, status, sq_id, type_cxbh, deleted, sort, type2_is_export_mx, 
    azfyk_is_export, bm_name, type4_ok, planning_gap, tick_status, tick_time, demand_dw_id, 
    dj_bm_id, qz_yj_zl, pass_time, yc_day
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cq_sq_fy_basic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cq_sq_fy_basic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.CqSqFyBasic">
    insert into cq_sq_fy_basic (id, work_bh, apply_id, 
      use_bm_id, use_dw_id, num, 
      area, money, applyer_id, 
      apply_date, apply_reason, work_id, 
      work_date, status, sq_id, 
      type_cxbh, deleted, sort, 
      type2_is_export_mx, azfyk_is_export, bm_name, 
      type4_ok, planning_gap, tick_status, 
      tick_time, demand_dw_id, dj_bm_id, 
      qz_yj_zl, pass_time, yc_day
      )
    values (#{id,jdbcType=INTEGER}, #{workBh,jdbcType=NVARCHAR}, #{applyId,jdbcType=INTEGER}, 
      #{useBmId,jdbcType=INTEGER}, #{useDwId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{area,jdbcType=DECIMAL}, #{money,jdbcType=DECIMAL}, #{applyerId,jdbcType=INTEGER}, 
      #{applyDate,jdbcType=TIMESTAMP}, #{applyReason,jdbcType=NVARCHAR}, #{workId,jdbcType=INTEGER}, 
      #{workDate,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{sqId,jdbcType=INTEGER}, 
      #{typeCxbh,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{type2IsExportMx,jdbcType=INTEGER}, #{azfykIsExport,jdbcType=INTEGER}, #{bmName,jdbcType=NVARCHAR}, 
      #{type4Ok,jdbcType=INTEGER}, #{planningGap,jdbcType=INTEGER}, #{tickStatus,jdbcType=INTEGER}, 
      #{tickTime,jdbcType=TIMESTAMP}, #{demandDwId,jdbcType=INTEGER}, #{djBmId,jdbcType=INTEGER}, 
      #{qzYjZl,jdbcType=NCHAR}, #{passTime,jdbcType=TIMESTAMP}, #{ycDay,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.CqSqFyBasic">
    insert into cq_sq_fy_basic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workBh != null">
        work_bh,
      </if>
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="useBmId != null">
        use_bm_id,
      </if>
      <if test="useDwId != null">
        use_dw_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="applyerId != null">
        applyer_id,
      </if>
      <if test="applyDate != null">
        apply_date,
      </if>
      <if test="applyReason != null">
        apply_reason,
      </if>
      <if test="workId != null">
        work_id,
      </if>
      <if test="workDate != null">
        work_date,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sqId != null">
        sq_id,
      </if>
      <if test="typeCxbh != null">
        type_cxbh,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="type2IsExportMx != null">
        type2_is_export_mx,
      </if>
      <if test="azfykIsExport != null">
        azfyk_is_export,
      </if>
      <if test="bmName != null">
        bm_name,
      </if>
      <if test="type4Ok != null">
        type4_ok,
      </if>
      <if test="planningGap != null">
        planning_gap,
      </if>
      <if test="tickStatus != null">
        tick_status,
      </if>
      <if test="tickTime != null">
        tick_time,
      </if>
      <if test="demandDwId != null">
        demand_dw_id,
      </if>
      <if test="djBmId != null">
        dj_bm_id,
      </if>
      <if test="qzYjZl != null">
        qz_yj_zl,
      </if>
      <if test="passTime != null">
        pass_time,
      </if>
      <if test="ycDay != null">
        yc_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workBh != null">
        #{workBh,jdbcType=NVARCHAR},
      </if>
      <if test="applyId != null">
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="useBmId != null">
        #{useBmId,jdbcType=INTEGER},
      </if>
      <if test="useDwId != null">
        #{useDwId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        #{area,jdbcType=DECIMAL},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="applyerId != null">
        #{applyerId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null">
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyReason != null">
        #{applyReason,jdbcType=NVARCHAR},
      </if>
      <if test="workId != null">
        #{workId,jdbcType=INTEGER},
      </if>
      <if test="workDate != null">
        #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sqId != null">
        #{sqId,jdbcType=INTEGER},
      </if>
      <if test="typeCxbh != null">
        #{typeCxbh,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="type2IsExportMx != null">
        #{type2IsExportMx,jdbcType=INTEGER},
      </if>
      <if test="azfykIsExport != null">
        #{azfykIsExport,jdbcType=INTEGER},
      </if>
      <if test="bmName != null">
        #{bmName,jdbcType=NVARCHAR},
      </if>
      <if test="type4Ok != null">
        #{type4Ok,jdbcType=INTEGER},
      </if>
      <if test="planningGap != null">
        #{planningGap,jdbcType=INTEGER},
      </if>
      <if test="tickStatus != null">
        #{tickStatus,jdbcType=INTEGER},
      </if>
      <if test="tickTime != null">
        #{tickTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demandDwId != null">
        #{demandDwId,jdbcType=INTEGER},
      </if>
      <if test="djBmId != null">
        #{djBmId,jdbcType=INTEGER},
      </if>
      <if test="qzYjZl != null">
        #{qzYjZl,jdbcType=NCHAR},
      </if>
      <if test="passTime != null">
        #{passTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ycDay != null">
        #{ycDay,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.CqSqFyBasic">
    update cq_sq_fy_basic
    <set>
      <if test="workBh != null">
        work_bh = #{workBh,jdbcType=NVARCHAR},
      </if>
      <if test="applyId != null">
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="useBmId != null">
        use_bm_id = #{useBmId,jdbcType=INTEGER},
      </if>
      <if test="useDwId != null">
        use_dw_id = #{useDwId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=DECIMAL},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="applyerId != null">
        applyer_id = #{applyerId,jdbcType=INTEGER},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyReason != null">
        apply_reason = #{applyReason,jdbcType=NVARCHAR},
      </if>
      <if test="workId != null">
        work_id = #{workId,jdbcType=INTEGER},
      </if>
      <if test="workDate != null">
        work_date = #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sqId != null">
        sq_id = #{sqId,jdbcType=INTEGER},
      </if>
      <if test="typeCxbh != null">
        type_cxbh = #{typeCxbh,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="type2IsExportMx != null">
        type2_is_export_mx = #{type2IsExportMx,jdbcType=INTEGER},
      </if>
      <if test="azfykIsExport != null">
        azfyk_is_export = #{azfykIsExport,jdbcType=INTEGER},
      </if>
      <if test="bmName != null">
        bm_name = #{bmName,jdbcType=NVARCHAR},
      </if>
      <if test="type4Ok != null">
        type4_ok = #{type4Ok,jdbcType=INTEGER},
      </if>
      <if test="planningGap != null">
        planning_gap = #{planningGap,jdbcType=INTEGER},
      </if>
      <if test="tickStatus != null">
        tick_status = #{tickStatus,jdbcType=INTEGER},
      </if>
      <if test="tickTime != null">
        tick_time = #{tickTime,jdbcType=TIMESTAMP},
      </if>
      <if test="demandDwId != null">
        demand_dw_id = #{demandDwId,jdbcType=INTEGER},
      </if>
      <if test="djBmId != null">
        dj_bm_id = #{djBmId,jdbcType=INTEGER},
      </if>
      <if test="qzYjZl != null">
        qz_yj_zl = #{qzYjZl,jdbcType=NCHAR},
      </if>
      <if test="passTime != null">
        pass_time = #{passTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ycDay != null">
        yc_day = #{ycDay,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.CqSqFyBasic">
    update cq_sq_fy_basic
    set work_bh = #{workBh,jdbcType=NVARCHAR},
      apply_id = #{applyId,jdbcType=INTEGER},
      use_bm_id = #{useBmId,jdbcType=INTEGER},
      use_dw_id = #{useDwId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      area = #{area,jdbcType=DECIMAL},
      money = #{money,jdbcType=DECIMAL},
      applyer_id = #{applyerId,jdbcType=INTEGER},
      apply_date = #{applyDate,jdbcType=TIMESTAMP},
      apply_reason = #{applyReason,jdbcType=NVARCHAR},
      work_id = #{workId,jdbcType=INTEGER},
      work_date = #{workDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      sq_id = #{sqId,jdbcType=INTEGER},
      type_cxbh = #{typeCxbh,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      type2_is_export_mx = #{type2IsExportMx,jdbcType=INTEGER},
      azfyk_is_export = #{azfykIsExport,jdbcType=INTEGER},
      bm_name = #{bmName,jdbcType=NVARCHAR},
      type4_ok = #{type4Ok,jdbcType=INTEGER},
      planning_gap = #{planningGap,jdbcType=INTEGER},
      tick_status = #{tickStatus,jdbcType=INTEGER},
      tick_time = #{tickTime,jdbcType=TIMESTAMP},
      demand_dw_id = #{demandDwId,jdbcType=INTEGER},
      dj_bm_id = #{djBmId,jdbcType=INTEGER},
      qz_yj_zl = #{qzYjZl,jdbcType=NCHAR},
      pass_time = #{passTime,jdbcType=TIMESTAMP},
      yc_day = #{ycDay,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>