<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.H1RenAcMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.po.H1RenAc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="h1_id" jdbcType="INTEGER" property="h1Id" />
    <result column="h1_ren_id" jdbcType="INTEGER" property="h1RenId" />
    <result column="ac" jdbcType="INTEGER" property="ac" />
    <result column="jz" jdbcType="INTEGER" property="jz" />
    <result column="i_day" jdbcType="TIMESTAMP" property="iDay" />
    <result column="i_day_s" jdbcType="INTEGER" property="iDayS" />
  </resultMap>
  <sql id="Base_Column_List">
    id, h1_id, h1_ren_id, ac, jz, i_day, i_day_s
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from h1_ren_ac
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from h1_ren_ac
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.po.H1RenAc">
    insert into h1_ren_ac (id, h1_id, h1_ren_id, 
      ac, jz, i_day, i_day_s
      )
    values (#{id,jdbcType=INTEGER}, #{h1Id,jdbcType=INTEGER}, #{h1RenId,jdbcType=INTEGER}, 
      #{ac,jdbcType=INTEGER}, #{jz,jdbcType=INTEGER}, #{iDay,jdbcType=TIMESTAMP}, #{iDayS,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.po.H1RenAc">
    insert into h1_ren_ac
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="h1Id != null">
        h1_id,
      </if>
      <if test="h1RenId != null">
        h1_ren_id,
      </if>
      <if test="ac != null">
        ac,
      </if>
      <if test="jz != null">
        jz,
      </if>
      <if test="iDay != null">
        i_day,
      </if>
      <if test="iDayS != null">
        i_day_s,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="h1Id != null">
        #{h1Id,jdbcType=INTEGER},
      </if>
      <if test="h1RenId != null">
        #{h1RenId,jdbcType=INTEGER},
      </if>
      <if test="ac != null">
        #{ac,jdbcType=INTEGER},
      </if>
      <if test="jz != null">
        #{jz,jdbcType=INTEGER},
      </if>
      <if test="iDay != null">
        #{iDay,jdbcType=TIMESTAMP},
      </if>
      <if test="iDayS != null">
        #{iDayS,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.po.H1RenAc">
    update h1_ren_ac
    <set>
      <if test="h1Id != null">
        h1_id = #{h1Id,jdbcType=INTEGER},
      </if>
      <if test="h1RenId != null">
        h1_ren_id = #{h1RenId,jdbcType=INTEGER},
      </if>
      <if test="ac != null">
        ac = #{ac,jdbcType=INTEGER},
      </if>
      <if test="jz != null">
        jz = #{jz,jdbcType=INTEGER},
      </if>
      <if test="iDay != null">
        i_day = #{iDay,jdbcType=TIMESTAMP},
      </if>
      <if test="iDayS != null">
        i_day_s = #{iDayS,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.po.H1RenAc">
    update h1_ren_ac
    set h1_id = #{h1Id,jdbcType=INTEGER},
      h1_ren_id = #{h1RenId,jdbcType=INTEGER},
      ac = #{ac,jdbcType=INTEGER},
      jz = #{jz,jdbcType=INTEGER},
      i_day = #{iDay,jdbcType=TIMESTAMP},
      i_day_s = #{iDayS,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>